//colores institucionales
$colorGreen : #196844;
$colorYellow : #E7C63E;
$colorWhite : #FFFFFF;
$colorGray : #535353 ;
$bg-form: rgba(0,0,0,0.2);

/* fonts globales para la aplicacion */
$fontTitle : 'Oswald', sans-serif;
$fontText : 'Open Sans', sans-serif;